asyncio==3.4.3
beautifulsoup4==4.6.0
cryptography==2.1.4
Django==2.0.2
django-admin-sortable2==0.6.18
django-debug-toolbar==1.8
django-graphiql==0.4.4
django-jinja==2.4.0
django-redis==4.9.0
djangorestframework==3.7.3
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
Jinja2==2.10
Pillow==4.3.0
PyJWT==1.5.3
pymongo==3.6.0
PyMySQL==0.7.11
pytz==2017.3
redis==2.10.6
requests==2.18.4
Unidecode==1.0.22
