<div class="pil-container">
    
    <input
        data-url="{{ MEDIA_URL }}"
        type="{{ widget.type }}"
        id="{{widget.attrs.id}}"
        class="vTextField"
        {% if widget.value.pathway %}value="{{ widget.value.pathway }}" {% endif %}
        {% include "django/forms/widgets/attrs.html" %}
        onchange="changeURL(event)"/>

    <input
        {# hidden #}
        id="{{widget.attrs.id}}-json"
        type="{{ widget.type }}"
        name="{{ widget.name }}"
        class="vTextField"
        value="{{ json }}"
        {{widget.attrs.required}}/>

    <div class="pil-img-box box">
        <div class="pil-img">
            <img
                id="{{widget.attrs.id}}-img"
                src="{{ widget.value.url }}"
                onload="imgLoaded(event)"
                onclick="imgClicked(event)" alt="">
            <div
                id="{{widget.attrs.id}}-img-point"
                class="image-crop-point"
                style="left: {{ widget.value.point.0 }}%; top: {{ widget.value.point.1 }}%;"></div>
        </div>
    </div>
</div>
